
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="main">
    <div class="sidebar">
        <h3>Core</h3>
        <a href="#">🏠 Dashboard</a>
        <h3>Addons</h3>
        <a href="#">🏫 Branches</a>
        <a href="#">👨‍🎓 Students</a>
        <a href="#">📘 Subjects</a>
        <a href="#">📚 Courses</a>
    </div>
</div>