@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="app-frame">
    <!-- Navbar -->
    <partial name="TopNav" />

    <!-- Sidebar + Content -->
    <partial name="SideBar" />
</div>