
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="navbar">
    <h1>Management System</h1>
    <div class="search-box">
        <input type="text" placeholder="Search for..." />
        <button>🔍</button>
    </div>
</div>