@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click here to redirect to Students Manage Page</p>
    <a asp-controller="Student" asp-action="Index" class="btn btn-primary mt-3">
        Quản lý sinh viên
    </a>
</div>
