@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ten sinh vien: Nguyen Duc Thach</h1>
    <p>Ma sinh vien: 231230898</p>
    <p>Dia chi: Ha Noi</p>
</div>
